*~
*#
*._*
*.log
*.log.*
*.pem
*.pid
*.pyc
*.swp
*.swo
*.tm_build_errors
*~.nib
.DS_Store
*.COMBINED.js
*.COMBINED.css
*.COMBINED.min.js
*COMBINED.min.css
*.sublime-project
*.sublime-workspace
*.sass-cache
.aws.env
.codeintel
.coverage
.noseids
.project
.pydevproject
.ropeproject
.semantic.cache
.settings
.idea
.realsync
tmtags
apps
Entitlements.plist
foo
stage
